div.tab-container.tab-container-active {
	display: block;
}
div.tab-container {
	display: none;
}
p.submit input.button-primary,
p.submit input.button-secondary {
	margin-right: 20px; 
}
.wp-editor-area {
	/*min-height: 400px;*/
}